<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h2>PROJECTS:</h1>
    <ul>
        <% projects.forEach((p) => { %> 
            <li>
                <%= p.projects %> 
                -
                <%= p.done ? 'done' : 'in progess' %> 
            </li>
        <% }); %>
    </ul>

    <%- include('./partials/footer.ejs') %>
</body>
</html>